/* effet d’apparition en fade in - du haut vers le bas */
@keyframes fadeInDown {
    from{
        transform : translateY(-200px);
		opacity: 0;
    }
    to{
        transform: translateY(0);
		opacity: 1;
    }
}

.banner{
    animation: fadeInDown 2s; /* fade in du haut vers le bas */
    overflow-x: hidden;   
    overflow-y: auto;
    perspective: 1px;
    margin-bottom: 117px;
    height: 50em;
}

/* effet d’apparition en fade in - du bas vers le haut */
@keyframes fadeInUp {
    from{
        transform : translateY(300px);
		opacity: 0;
    }
    to{
        transform: translateY(0);
		opacity: 1;
    }
}

.story, #studio, h3, span {
	animation: fadeInUp 2s ease-in-out; /* fade in du bas vers le haut */
}


/* effet de fleurs qui tournent en continu */
@keyframes flowersRotation {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

h2::after, .story__article::after, #studio h2::before, #studio h2::after, .site-footer::before, .site-footer::after, .site-footer ul::after, .sunflower, .orchid, .nav_story::after, .nav_place::before
{
    animation: flowersRotation 20s infinite linear;
}


/* section nomination aux Oscars */
.oscars_div {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oscars_text {
    font-family: "Quicksand";
    font-size: 42px;
    font-weight: 700;
    height: 280px;
    width: 723px;
    color: #FFF5E9;
    background-image: url("../assets/images/Rectangle23.png");
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 48px;
}

.oscars_img{
    padding-bottom: 103px;
}


/* déplacement des fleurs du footer vers la section studio */
.sunflower {
	position: absolute;
	left: 6em;
	top: 33em;
}

.orchid{
	position: absolute;
	right: -4em;
	bottom: -9.2em;
}
    
.site-footer::before {
	content: url("");
}

.site-footer::after {
	content: url("");
}


/* effet d'apparition des titres h2 et h3 des sections */ 
.title_isvisible {
    opacity: 1;
    transform: translateY(0);
}

span {
    transition: transform 1s, opacity 0.5s, translateY 1s;
}

span:not(.title_isvisible){
    opacity: 0;
    transform: translateY(50px);
}


/* titre sur vidéo en background */ 
.banner {
    position: relative;
    height: 806px;
}
.banner img {
    position: absolute;
    height: 479px;
    width: auto;
    top: 200px;
	animation: float 5s cubic-bezier(0.43, 0.08, 0.61, 0.99) infinite;
}


/* effet de flottement du titre sur la vidéo */ 
@keyframes float {
	0% {
		transform: translate(0px, -15px);
	}
    25% {
        transform: translate(-15px, 0px);
    }
    40% {
        transform: translate(-12px, 0px);
    }
	55% {
		transform: translateY(15px);
	}
    70% {
        transform: translate(-12px, 0px);
    }
    85% {
        transform: translate(15px, 0px);
    }
	100% {
		transform: translate(0px, -15px);
} }


/* Carrousel Personnages */
.swiper {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .main-character h3 { /* réglage de la position du titre */
    background-position: left;
    text-align: left;
    padding-left: 50px;
  }


/* Ajouts des nuages */

.story #place {
	background-image: url("../assets/images/Studio_Koukaki-image_place.png");
    background-size: cover;
}

/* Petit nuage */
 #little_cloud {
    position: absolute;
    bottom: 380px;
    right: 40%;  
    filter: drop-shadow(0px 0px 20px #C0F7FF);
}

/* Gros nuage */
#big_cloud {
    position: absolute;
    bottom: 515px;
    right: 10%;
    filter: drop-shadow(0px 0px 20px #C0F7FF);
}

/* Menu Burger */

.menu-toggle {
    display: block;
    position: absolute;
    left: 89%;
    top: 13px;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.main-navigation .line {
	height: 2px;
	background-color: #000;
	display: block;
	margin: auto;
	margin-block: -2px;
	width: 2.5em;
    z-index: 9999;
    position: relative;
    transition: all .5s ease-in-out;
}

.first_line {
    transform:translateY(-12px)
  }
  
.third_line {
    transform:translateY(12px)
  }

/* Transformer toutes les lignes du menu burger en crossmark */

.main-navigation.toggled .first_line {
    opacity: 1;
    transform: rotate(-45deg);
  }

.main-navigation.toggled .third_line {
    opacity: 1;
    transform: rotate(45deg);
  }

.main-navigation.toggled .second_line {
    opacity: 0;
}

.site-title {
    max-width: 1440px;
    padding-top: 25px;
    display: block;
    font-family: "Quicksand";
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
}

.main-navigation ul {
	height: 100%;
	display: none;
	list-style: none;
}

.main-navigation li {
    position: relative;
    font-size: 4em;
}

.main-navigation > li {
    font-family: 'Quicksand';
    font-size: 21px;
}

.main-navigation > p{
    font-size: 12px;
    position: absolute;
    top: 80em;
    z-index: 9999;
}

.logo_navbar {
    width: 154px;
    position: absolute;
    top: 37px;
    left: 44%;
    filter: drop-shadow(0px 0px 26.0937px rgba(255, 92, 0, 0.6));
}

.navbar_links {
    background-color: #FFF5E9;
    padding-top: 140px;
    position: absolute;
    top: 80px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    z-index: 1000;
}

.navbar_links > li {
    max-width: 1440px;
    padding-top: 57px;
}

.navbar_links li:hover {
    text-shadow: 0 0 14px #FF5C00;
}

.nav_studio {
    margin-bottom: 2em;
}

/* Ajout des chats et des fleurs dans le menu */

.nav_story::before{
    content: url("../assets/images/cat-purpul.png");
    position: absolute;
    max-width: 109px;
    left: 13%;
    top: 0;
}

.nav_story::after{
    content: url("../assets/images/Sunflower.png");
    position: absolute;
    right: 14%;
    top: -95px;
}

.nav_characters::after{
    content: url("../assets/images/Random\ Flower.png");
    position: absolute;
    right: 0;
    top: 89px;
}

.nav_place::before{
    content: url("../assets/images/Flower.png");
    position: absolute;
    left: 13%;
    top: 53px;
}

.nav_place::after{
    content: url("../assets/images/cat-grey.png");
    position: absolute;
    right: 15%;
    top: 13px;
}

.nav_studio::before{
    content: url("../assets/images/cat-yellow.png");
    position: absolute;
    left: 4%;
    top: 174px;
}

.nav_studio::after{
    content: url("../assets/images/Hibiscus\ footer.png");
    position: absolute;
    top: 90px;
    right: 0%;
}

.navbar_links::before{
    content: url("../assets/images/Orchid-1.png");
    position: absolute;
    left: 0px;
    top: 50px;
}


 /* Effet de flottement des chats dans le menu */

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-15px, 11px);
    }
    50% {
        transform: translate(0, 15px);
    }
    75% {
        transform: translate(15px, 10px);
    }
    100% {
        transform: translate(0);
    }
}

.nav_story::before, .nav_place::after, .nav_studio::before {
    animation: float 3s ease-in-out infinite;
  }

