/* effet d’apparition en fade in - du haut vers le bas */
@keyframes fadeInDown {
    from{
        transform : translateY(-200px);
		opacity: 0;
    }
    to{
        transform: translateY(0);
		opacity: 1;
    }
}

.banner{
    animation: fadeInDown 2s; /* fade in du haut vers le bas */
    overflow-x: hidden;   
    overflow-y: auto;
    perspective: 1px;
    margin-bottom: 117px;
    height: 50em;
}

/* effet d’apparition en fade in - du bas vers le haut */
@keyframes fadeInUp {
    from{
        transform : translateY(300px);
		opacity: 0;
    }
    to{
        transform: translateY(0);
		opacity: 1;
    }
}

.story, #studio, h3, span {
	animation: fadeInUp 2s ease-in-out; /* fade in du bas vers le haut */
}


/* effet de fleurs qui tournent en continu */
@keyframes flowersRotation {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

h2::after, .story__article::after, #studio h2::before, #studio h2::after, .site-footer::before, .site-footer::after, .site-footer ul::after, .sunflower, .orchid {
    animation: flowersRotation 30s infinite linear;
}


/* section nomination aux Oscars */
.oscars_div {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oscars_text {
    font-family: "Quicksand";
    font-size: 42px;
    font-weight: 700;
    height: 280px;
    width: 723px;
    color: #FFF5E9;
    background-image: url("../assets/images/Rectangle23.png");
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 48px;
}

.oscars_img{
    padding-bottom: 103px;
}


/* déplacement des fleurs du footer vers la section studio */
.sunflower {
	position: absolute;
	left: 6em;
	top: 33em;
}

.orchid{
	position: absolute;
	right: -4em;
	bottom: -9.2em;
}
    
.site-footer::before {
	content: url("");
}

.site-footer::after {
	content: url("");
}


/* effet d'apparition des titres h2 et h3 des sections */ 
.title_isvisible {
    opacity: 1;
    transform: translateY(0);
}

span {
    transition: transform 1s, opacity 0.5s, translateY 1s;
}

span:not(.title_isvisible){
    opacity: 0;
    transform: translateY(50px);
}


/* titre sur vidéo en background */ 
.banner {
    position: relative;
    height: 806px;
}
.banner img {
    position: absolute;
    height: 479px;
    width: auto;
    top: 200px;
	animation: float 5s cubic-bezier(0.43, 0.08, 0.61, 0.99) infinite;
}


/* effet de flottement du titre sur la vidéo */ 
@keyframes float {
	0% {
		transform: translate(0px, -15px);
	}
    25% {
        transform: translate(-15px, 0px);
    }
    40% {
        transform: translate(-12px, 0px);
    }
	55% {
		transform: translateY(15px);
	}
    70% {
        transform: translate(-12px, 0px);
    }
    85% {
        transform: translate(15px, 0px);
    }
	100% {
		transform: translate(0px, -15px);
} }


/* Carrousel Personnages */
.swiper {
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .main-character h3 { /* réglage de la position du titre */
    background-position: left;
    text-align: left;
    padding-left: 50px;
  }


/* Ajouts des nuages */

.story #place {
	background-image: url("../assets/images/Studio_Koukaki-image_place.png");
    background-size: cover;
}

/* Petit nuage */
 #little_cloud {
    position: absolute;
    bottom: 380px;
    right: 40%;  
    filter: drop-shadow(0px 0px 20px #C0F7FF);
}

/* Gros nuage */
#big_cloud {
    position: absolute;
    bottom: 515px;
    right: 10%;
    filter: drop-shadow(0px 0px 20px #C0F7FF);
}
